.header {
  width: 100%;
  position: sticky;

  top: 0;
  background: #ebf0fa;
  box-shadow: 0px 4px 6px 0px rgba(16, 37, 85, 0.15);
  z-index: 100;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoText {
  display: none;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0.6rem 1rem;
}

.navMenu {
  position: relative;
}

.toggleBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 913px) {
  .navMenu {
    z-index: 100;
    position: fixed;
    background: #ebf0fa;
    top: -1000%;
    right: 0;
    width: 50%;
    margin: 0 auto;
    height: 50%;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    transition: 1s;
  }

  .navMenu > * + * {
    margin-bottom: 1rem;
  }

  .closeBtn {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
  }

  .overlay {
    background: rgba(121, 131, 220, 0.31);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100vh;
    position: fixed;
    transition: 0.4s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }

  .overlay::-webkit-scrollbar {
    display: none;
  }

  .mobileBtn {
    width: 100%;
    border-radius: 0.1875rem;
    background: #6450e0;
    box-shadow: 0px 4px 4px 0px rgba(13, 44, 123, 0.15);
    display: flex;
    padding: 0.3125rem 0.5625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #fff;
    margin-bottom: 1.5rem;
  }
}

.navMenu.showMenu {
  transition: 0.3s;

  top: 0;
}

.link {
  color: #0d2c7b;
  position: relative;
  /* padding-bottom: 0.5rem; */
}

.link:hover::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  content: "";
  background: #0d2c7b;
}

.navItems {
  position: relative;
  cursor: pointer;
}
.navItems :global(.active)::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  content: "";
  background: #0d2c7b;
}

@media screen and (min-width: 913px) {
  .mobileBtn {
    display: none;
  }
  .closeBtn {
    display: none;
  }

  .toggle {
    display: none;
  }

  .logoText {
    display: block;
  }

  .navMenu {
    display: flex;
    align-items: center;

    color: #0d2c7b;
    font-weight: 450;
  }

  .navMenu > * + * {
    margin-left: 2rem;
  }
}
