.header {
  width: 100%;
  position: sticky;
  top: 0;
  background: #6450e0;
  padding: 0.5rem;
  /* z-index: 900; */
}

.socialLinksContainer {
  display: flex;
  background: #6450e0;
  justify-content: center;
}

@media screen and (min-width: 913px) {
  .socialLinksContainer {
    justify-content: flex-end;
  }
}
